@import '../../global.scss';

.error{
    height: 100vh;
    width: 100vw;
    z-index: 50;
    position: fixed;
    left: 0;
    right: 0;
    background: $background_color;

    .container{
        z-index: 50;
        margin-top: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
}