@import '../../global.scss';

.dance{
    font-size: 18px;
    border-radius: 30px;
    padding: 3px;
    width: calc(100% - 130px);
    display: flex;
    justify-content: center;
    color: $dance_label_color;
    // border: 1px solid $content_color;
    position: absolute;
    right: 35px;

    &.lime{
        background-image: linear-gradient(to right, rgb(24, 98, 61),rgb(93, 134, 15));
        background: rgb(23, 92, 56);
    }

    .fill{
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        // background: rgb(103, 30, 126);
        // background: rgba(255, 255, 255, 0.15);
        border-radius: 30px;
    }

    span{
        z-index: 30;
    }
}