@import '../../global.scss';

// https://dev.to/inverseswirl/how-to-add-keyframes-animation-code-in-scss-46k8

@mixin animate($animation,$duration,$method,$times){
    animation: $animation $duration $method $times;
}

@mixin keyframes($name){
    @keyframes #{$name}{
        @content;
    }
}

@mixin stay() {
    animation-fill-mode: forwards;
}

.timeline{
    width: 100%;
    // height: calc(100vh - 450px);
    overflow: hidden;
    position: relative;

    .lines{
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;

        .line{
            height: 20px;
            display: flex;
            align-items: center;
            z-index: 5;

            .line-label{
                font-size: 14px;
            }

            .line-real{
                margin-left: 10px;
                width: 500px;
                height: 1px;
                z-index: 30;
                background: gray;
            }

            .dance{
                display: none;
            }

            &.move{
                .dance{
                    display: flex;
                }

                @include keyframes(timestart){
                    0%{
                        transform: translateY(0);
                        transition: 1s ease;
                    }
                    100%{
                        transform: translateY(-800px);
                        transition: none;
                    }
                }
                @include animate(timestart, 16s, linear, infinite);
            }
        }
    }
}