@import '../../global.scss';

@mixin animate($animation,$duration,$method,$times){
    animation: $animation $duration $method $times;
}

@mixin stay() {
    animation-fill-mode: forwards;
}

@mixin keyframes($name){
    @keyframes #{$name}{
        @content;
    }
}

.controller{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // position: relative;
    position: fixed;
    padding-bottom: 5px;
    bottom: 0;

    .container{
        width: 100%;
        padding: 10px;
        height: 100%;
        display: flex;
        background: $live_controller_background;
        box-shadow: 0 -4px 13px pink;
        position: relative;
        overflow: hidden;
        justify-content: space-between;

        @include keyframes(colorshift){
            0%{
                filter: hue-rotate(0deg);
            }
            50%{
                filter: hue-rotate(90deg);
            }
            100%{
                filter: hue-rotate(0deg);
            }
        }
        @include animate(colorshift, 10s, linear, infinite);

        .sync-delay{
            // position: absolute;
            // right: 110px;
            display: flex;
            width: 150px;
            margin-left: 300px;

            .delay{
                margin-left: 10px;
                margin-top: 3px;
                @include keyframes(fade){
                    0%{
                        opacity: 1;
                    }
                    100%{
                        opacity: 0.4;
                    }
                }
                @include animate(fade, 2s, linear, 1);
                @include stay();
            }
        }

        .leaderboard {
            // position: absolute;
            // left: 15px;
            width: 435px;
            overflow: hidden;
            display: flex;
            font-size: 17px;
            margin-left: 15px;

                .content{
                    margin-left: 10px;
                    margin-top: 3px;
                }

        }

        .logo{
            display: none;
            height: 38px;
            position: absolute;
            left: calc(50% - 50px);
        }
        
        .session-name-field{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            position: relative;
            margin: 0 10px;

            .scrolling-session{
                position: absolute;
                left: 20px;
                width: 100%;

                input{
                    width: 250px;
                    background: inherit;
                    color: $unfocussed_color;
                    font-size: inherit;
                    position: absolute;
                    border: none;
                    left: 0px;
                    white-space: nowrap;
                }
            }
        }

        .button-tabs{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 10px;
            
            div{
                margin: 25px;
                &:hover{
                    color: rgb(255, 109, 133);
                    cursor: pointer;
                }
            }
    
            .user-page-icon {
                font-size: $controller_passive;
            }
    
            .dance-page-icon {
                font-size: $controller_active;
            }
            
            .offline-page-icon {
                font-size: $controller_passive;
            }
        }
    }
}

.separator-vert{
    height: 85%;
    width: 2px;
    background: rgba(255, 255, 255, 0.459);
}