@import './global.scss';

//remove this line to clear warnings

// eslint-disable-next-line
@import "~@progress/kendo-theme-default/dist/all.scss";


.App {
  background: $background_color;
  color: $content_color;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

