$dance_label_color: rgb(197, 197, 197);
$large_content_size: 50px;
$medium_content_size: 35px;

//Dark mode
$background_color: rgb(11, 0, 19);
$content_color: rgb(197, 197, 197);
$unfocussed_color: rgb(149, 148, 148);
$controller_active: 40px;
$controller_passive: 30px;

$panel_background:  rgba(68, 53, 60, 0.5);
$button_background: rgb(224, 81, 117);
$button_color: white;
$transparent: rgba(255, 255, 255, 0);
$faint_red: #ff6666;
$faint_purple: #ff66ff;
$panel_background: rgba(255, 255, 255, 0.1);
$chart_background: rgba(22, 5, 98, 0.274);
//Light mode
// $background_color: rgb(197, 197, 197);
// $content_color: rgb(11, 0, 19);

button{
    margin: 0 auto;
    display: block;
    border: none;
    background: $button_background;
    color: $button_color;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.5s ease;
    border: 2px solid $transparent;

    &.expand-collapse{
        background: none;
        border: 2px solid $content_color;
    }

    &:hover{
        background: none;
        color: $button_background;
        cursor: pointer;
        border: 2px solid $button_background;
    }
}

a{
    text-decoration: none;
    color: inherit;
}

.row{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.col{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.scroll{
    position: relative;
    height: fit-content;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

$base-bg: #000000;
$base-text: white;
$chart-text: white;
$hovered-bg: black;
$selected-bg: black;
$primary: grey;
$chart-bg: $transparent;
$series-a: rgb(255, 0, 85);
$series-b: rgb(174, 0, 255);
$series-c: rgb(111, 0, 255);
$series-d: rgb(89, 0, 255);
$series-e: rgb(0, 174, 255);
$series-f: rgb(255, 115, 0);
$series-7: rgb(113, 173, 0);
$series-8: rgb(255, 208, 0);
$chart-major-lines: grey;
$chart-minor-lines: rgb(63, 63, 63);