$dance_label_color: rgb(197, 197, 197);
$large_content_size: 50px;

//Dark mode
$background_color: rgb(11, 0, 19);
$content_color: rgb(197, 197, 197);

//Light mode
// $background_color: rgb(197, 197, 197);
// $content_color: rgb(11, 0, 19);