@import '../../global.scss';

.live {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;

  .user-cards{
    margin: 0 auto;
    max-width: 1500px;
    width: 100%;
    position: relative;
  }
}